* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Utility */
ul li {
  list-style: none;
}

ul li a {
  text-transform: capitalize;
}
/* margin */
.ms_margin_top_60 {
  margin-top: 60px;
}
.ms_margin_bottom_60 {
  margin-bottom: 60px;
}

.ms_margin_top_30 {
  margin-top: 30px;
}
.ms_margin_bottom_30 {
  margin-bottom: 30px;
}

.ms_margin_top_15 {
  margin-top: 15px;
}
.ms_margin_bottom_15 {
  margin-bottom: 15px;
}

/* padding */
.ms_padding_top_60 {
  padding-top: 60px;
}
.ms_padding_bottom_60 {
  padding-bottom: 60px;
}

.ms_padding_top_30 {
  padding-top: 30px;
}
.ms_padding_bottom_30 {
  padding-bottom: 30px;
}

.ms_padding_top_15 {
  padding-top: 15px;
}
.ms_padding_bottom_15 {
  padding-bottom: 15px;
}
/* wrapper */
[class*="ms_wrapper_"] {
  margin: 0 auto;
}

.ms_wrapper_80 {
  width: 80%;
}

.ms_wrapper_50 {
  width: 50%;
}

/* learn more */
.ms_learn_more::after {
  content: '>';
  margin-left: 10px;
}

/* font weight */
.ms_font_w_600 {
  font-weight: 600;
}

/* text color */
.ms_text_white {
  color: #fff;
}

.ms_text_grey {
  color: #b4b4b4;
}

.ms_text_lightgrey {
  color: rgba(154, 154, 154, 0.5);
}

.ms_text_blue {
  color: #015AFF;
}

.ms_text_darkblue {
  color: #0a1c4f;
}

/* bg_colors */
.ms_bg_grey {
  background-color: #F3F5F9;
}

.ms_bg_white {
  background-color: #fff;
}

.ms_bg_gradient_blue {
  background-image: linear-gradient(0deg, #0a1c4f, #0348f9);
}

.ms_bg_blue {
  background-color: #015AFF;
}

.ms_bg_darkblue {
  background-color: #0a1c4f;
}

/* button */
.ms_btn_blue {
  color: #015AFF;
  border: 1px solid #015AFF;
}

.ms_btn_txt_white_bg_blue {
  color: white;
  background-color: #015AFF;
  border: 1px solid #015AFF;
}

.ms_btn_100 {
  width: 100%;
}

/* HEADER */
header {
  height: 80px;
}

header .navbar-brand {
  margin-right: 40px;
  width: 165px;
}

header a.navbar-brand img {
  height: 30px;
}

header .navbar-default .navbar-nav ul {
  width: 40%;
}
header .navbar-default .navbar-nav > li > a {
  color: #0a1c4f;
  line-height: 30px;
}

/* MAIN */
/* jumbo */
#jumbo .ms_bg_jumbo {
  background-image: url('../img/bg_jumbotron.svg');
}

#jumbo .ms_jumbo_text h1 {
  font-size: 4em;
}

#jumbo .ms_jumbo_form {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#jumbo .ms_jumbo_form h2 {
  font-weight: 600;
}

#jumbo .ms_jumbo_form img {
  height: 20px;
  float: left;
}

#jumbo .ms_jumbo_form a.ms_terms_of_service {
  text-decoration: underline;
}

/* customers */
#customers .img_customer {
  height: 80px;
  line-height: 80px;
  padding: 0px 10px;
}
#customers .img_customer img {
  width: 100%;
  max-height: 80px;
  object-fit: cover;
  object-position: center;
}
/* main menu */
#main_menu ul {
  border-left: 2px solid #b4b4b4;
  padding-left: 10px;
}
#main_menu ul li {
  margin-bottom: 10px;
}

#main_menu .ms_main_menu_topic {
  height: 250px;
  overflow: auto;
}
/* slider */
.slider ul.ms_dots li {
  height: 12px;
  width: 10px;
  border: 1px solid #0167FF;
  border-radius: 50%;
}
.slider ul.ms_dots li:first-child {
  background-color: #0167FF;
}

/* MEDIA QUERY */
@media all and (max-width: 768px) {
  #jumbo .ms_jumbo_form {
    margin-top: 15px;
  }

  #main_menu .ms_main_menu_nav {
    margin-bottom: 15px;
  }
  #main_menu .ms_main_menu_topic {
    height: 100%;
  }
}
