* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Utility */
ul li {
  list-style: none;
}

ul li a {
  text-transform: capitalize;
}

.collapse {
  display: none;
}

/* margin */
.ms_margin_top_60 {
  margin-top: 60px;
}
.ms_margin_bottom_60 {
  margin-bottom: 60px;
}

.ms_margin_top_30 {
  margin-top: 30px;
}
.ms_margin_bottom_30 {
  margin-bottom: 30px;
}

.ms_margin_top_15 {
  margin-top: 15px;
}
.ms_margin_bottom_15 {
  margin-bottom: 15px;
}

/* padding */
.ms_padding_top_60 {
  padding-top: 60px;
}
.ms_padding_bottom_60 {
  padding-bottom: 60px;
}

.ms_padding_top_30 {
  padding-top: 30px;
}
.ms_padding_bottom_30 {
  padding-bottom: 30px;
}

.ms_padding_top_15 {
  padding-top: 15px;
}
.ms_padding_bottom_15 {
  padding-bottom: 15px;
}
/* wrapper */
[class*="ms_wrapper_"] {
  margin: 0 auto;
}

.ms_wrapper_80 {
  width: 80%;
}

.ms_wrapper_50 {
  width: 50%;
}

/* learn more */
.ms_learn_more::after {
  content: '>';
  margin-left: 10px;
}

/* font weight */
.ms_font_w_600 {
  font-weight: 600;
}

/* text color */
.ms_text_white {
  color: #fff;
}

.ms_text_grey {
  color: #b4b4b4;
}

.ms_text_lightgrey {
  color: rgba(154, 154, 154, 0.5);
}

.ms_text_blue {
  color: #015AFF;
}

.ms_text_darkblue {
  color: #0a1c4f;
}

/* bg_colors */
.ms_bg_grey {
  background-color: #F3F5F9;
}

.ms_bg_white {
  background-color: #fff;
}

.ms_bg_gradient_blue {
  background-image: linear-gradient(0deg, #0a1c4f, #0348f9);
}

.ms_bg_blue {
  background-color: #015AFF;
}

.ms_bg_darkblue {
  background-color: #0a1c4f;
}

/* button */
.ms_btn_blue {
  color: #015AFF;
  border: 1px solid #015AFF;
}

.ms_btn_txt_white_bg_blue {
  color: #fff;
  background-color: #015AFF;
  border: 1px solid #015AFF;
}

.ms_btn_txt_blue_bg_white {
  color: #015AFF;
  background-color: #fff;
  border: 1px solid #fff;
}

.ms_btn_100 {
  width: 100%;
}

/* HEADER */
header {
  height: 50px;
}

header .navbar-brand {
  margin-right: 40px;
  width: 165px;
}

header a.navbar-brand img {
  height: 30px;
}

header .navbar-default .navbar-nav ul {
  width: 40%;
}
header .navbar-default .navbar-nav > li > a {
  color: #0a1c4f;
  line-height: 30px;
}

/* SHARK */
#shark .ms_shark_container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

#shark div {
  display: inline-block;
}

#shark .bubble {
  position: absolute;
  bottom: 20px;
  right: 100px;
  width: 320px;
  height: 65px;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 1px 1px 12px #4e4e4e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 999;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 16px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 999;
  right: -10px;
  top: 40px;
}

#shark .ms_bg_blue {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  box-shadow: 1px 1px 12px #4e4e4e;
  border-radius: 5px;
  margin-left: 40px;
}

#shark img {
  width: 100%;
  margin-top: 10px;
}

#shark .ms_shark_img_notification {
  position: relative;
}

#shark .ms_shark_img_notification .ms_shark_notification {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 25px;
  width: 25px;
  box-shadow: 1px 1px 12px #4e4e4e;
  background-color: red;
  border: 3px solid #fff;
  border-radius: 50%;
}
/* MAIN */
/* jumbo */
#jumbo .ms_bg_jumbo {
  background-image: url('../img/bg_jumbotron.svg');
}

#jumbo .ms_jumbo_text h1 {
  font-size: 4em;
}

#jumbo .ms_jumbo_form {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#jumbo .ms_jumbo_form h2 {
  font-weight: 600;
}

#jumbo .ms_jumbo_form img {
  height: 20px;
  float: left;
}

#jumbo .ms_jumbo_form a.ms_terms_of_service {
  text-decoration: underline;
}

/* customers */
#customers .img_customer {
  height: 80px;
  line-height: 80px;
  padding: 0px 10px;
}
#customers .img_customer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

/* main menu */
#main_menu ul {
  border-left: 2px solid #b4b4b4;
  padding-left: 10px;
}
#main_menu ul li {
  margin-bottom: 10px;
}

#main_menu .ms_main_menu_topic {
  height: 250px;
  overflow: auto;
}
/* slider */
#first_slider .slider_img img {
  width: 75%;
  vertical-align: middle;
}
.slider .slider_img::before {
  font-family: 'Glyphicons Halflings';
  content: '\e079';
  color: #b4b4b4;
  font-size: 2em;
  margin-right: 10px;
}
.slider .slider_img::after {
  font-family: 'Glyphicons Halflings';
  content:"\e080";
  color: #0a1c4f;
  font-size: 2em;
  margin-left: 10px;
}

.slider ul.ms_dots li {
  height: 12px;
  width: 10px;
  border: 1px solid #0167FF;
  border-radius: 50%;
}
.slider ul.ms_dots li:first-child {
  background-color: #0167FF;
}

/* features */
#features .ms_features_container {
  height: 250px;
  overflow: auto;
}

/* table */
#table .ms_text_speed_container .ms_region_container {
  margin-top: 15px;
}
#table .ms_text_speed_container .ms_region_container:not(:last-child) {
  border-bottom: 1px solid #fff;
}

/* second slider */
#second_slider .slider_img .ms_slider_img_container{
  display: inline-block;
  width: 75%;
  vertical-align: middle;
}
#second_slider .slider_img .ms_slider_img_container img {
  width: 50%;
}

/* FOOTER */
footer .footer_company_container ul li a {
  font-size: 1.5em;
}

/* MEDIA QUERY */
@media all and (max-width: 768px) {
  #jumbo .ms_jumbo_form {
    margin-top: 15px;
  }

  #jumbo .row div:first-child {
    padding-bottom: 15px;
  }
  #jumbo .row div:last-child {
    padding-top: 15px;
  }

  #main_menu .ms_main_menu_nav {
    margin-bottom: 15px;
  }

  #main_menu .ms_main_menu_topic,
  #features .ms_features_container {
    height: 100%;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 992px) {
  #table .ms_text_speed_container:last-of-type {
    margin-top: 30px;
  }
}

/* Cambiato punto collapse per il navbar-toggle */
@media all and (max-width: 992px) {
  .navbar-header,
  .navbar-left,
  .navbar-right,
  .navbar-nav {
    float: none !important;
  }

  #navbar .navbar-header .navbar-toggle.collapsed {
    display: block;
  }

  #navbar .navbar-collapse.collapse {
    display: none !important;
  }

  .collapse.in {
    display: block !important;
  }
}

/* Aggiunta breakpoint in navbar */
@media all and (max-width: 1124px) {
  #navbar .ms_wrapper_80{
    width: 90%;
  }
}
