* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Utility */
/* margin */
.ms_margin_top_60 {
  margin-top: 60px;
}
.ms_margin_bottom_60 {
  margin-bottom: 60px;
}

.ms_margin_top_30 {
  margin-top: 30px;
}
.ms_margin_bottom_30 {
  margin-bottom: 30px;
}

.ms_margin_top_15 {
  margin-top: 15px;
}
.ms_margin_bottom_15 {
  margin-bottom: 15px;
}

/* padding */
.ms_padding_top_60 {
  padding-top: 60px;
}
.ms_padding_bottom_60 {
  padding-bottom: 60px;
}

.ms_padding_top_30 {
  padding-top: 30px;
}
.ms_padding_bottom_30 {
  padding-bottom: 30px;
}

.ms_padding_top_15 {
  padding-top: 15px;
}
.ms_padding_bottom_15 {
  padding-bottom: 15px;
}
/* wrapper */
[class*="ms_wrapper_"] {
  margin: 0 auto;
}

.ms_wrapper_80 {
  width: 80%;
}

.ms_wrapper_50 {
  width: 50%;
}

/* text color */
.ms_text_white {
  color: #fff;
}

/* bg_colors */
.ms_bg_grey {
  background-color: #F3F5F9;
}

.ms_bg_white {
  background-color: #fff;
}

.ms_bg_gradient_blue {
  background-image: linear-gradient(0deg, #0a1c4f, #0348f9);
}
/* HEADER */
header {
  height: 54px;
}

header a.navbar-brand {
  margin-right: 140px;
}

/* MAIN */
/* jumbo */

/* customers */

/* main menu */

/* slider */
.slider ul.ms_dots li {
  height: 12px;
  width: 10px;
  border: 1px solid #0167FF;
  border-radius: 50%;
}
.slider ul.ms_dots li:first-child {
  background-color: #0167FF;
}

/* MEDIA QUERY */
@media all and (max-width: 768px) {
  #jumbo .ms_jumbo_form {
    margin-top: 15px;
  }
}

@media all and (max-width: 992px) {
  header a.navbar-brand {
    margin-right: 30px;
  }
}
